body {
    margin: 0;
    font-family: 'Arial';
    /* font-weight: 300; */
}

@media screen and (min-width: 1024px) {
    .form-container {
        max-width: 840px !important;
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
}

@media screen and (max-width: 1024px) {
    .form-container {
        width: 100%;
    }

    .form-container-bg {
        border-radius: 0px !important;
    }
}

html {
    background-image: url('https://images.unsplash.com/photo-1497092801449-b782257c9756?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;
}

body {
    width: 100%;
}
